__pycache__/
*.pyc
*.pyo
.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/.env
**/.venv
backend_db/.venv
backend_db/scripts/.venv
backend_db/scripts/sql/pokestats.sqlite
frontend/node_modules
frontend/build
