/*********************************
        MAIN APP STYLES
**********************************/

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color:lightblue;
}


/*********************************
      JUMBOTRON ON HOMEPAGE
**********************************/
.jumbotron {
  background-color: tomato;
  width: 100vw;
  opacity: 0.9;
}

.jumbotron h1 {
  color: white;
  font-size: 6rem;
}

.jumbotron h3 {
  color: white;
  font-size: 2.5rem;
}


/*********************************
      TOP TEN POKEMON LISTINGS
**********************************/
table {
  margin-bottom: 50px;
}

.pkmn-name {
  text-align: center;
}

.pkmn_stat {
  margin: 0 10px;
}

.main-div {
  margin-top: 0;
}

.top10btn, .chartbtn {
  display: inline-block;
  margin: 25px 20px;
  width: 350px;
  height: 100px;
  border-radius: 10px;
  font-size: 2.25rem;
  text-align: center;
}

/* .fadeIn, .fadeOut {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fadeIn {
  opacity: 1;
}
 */






/*********************************
          POKEMON IMAGES
**********************************/
.pokemon-images {
  width: 60px;
  height: 50px;
  display: inline-block;
}

.pkmn-images {
  display: inline-block;
}

/*********************************
      TABLES AND ROWS (Bootstrap)
**********************************/
th, td {
  padding: 15px;
  margin: 5px 0 5px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.row {
  margin: 25px 0;
}


